@font-face {
	font-family: 'Social Icons';
	src:url('social_icons.eot');
	src:url('social_icons.eot?#iefix') format('embedded-opentype'),
		url('social_icons.ttf') format('truetype'),
		url('social_icons.woff') format('woff'),
		url('social_icons.woff2') format('woff2'),
		url('social_icons.svg#SocialIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}